.container

  .card_section
    %h2= @task.title
  
    - if user_signed_in? && current_user.has_written_task?(@task)
      .dropdown
        = image_tag 'Combined Shape.png', class: 'dropbtn'
        .dropdown-content.mini
          = link_to 'Edit', edit_board_task_path(@board, @task)
          = link_to 'Delete', board_task_path(@board, @task), data: { method: 'delete' , confirm: '本当に削除してもよろしいですか？'}

  - if @task.eyecatch.attached?
    .card_image
      = image_tag @task.eyecatch
  .card
    .card_content-task
      = @task.content
  
  %h2
    .comment_title
      Comment
  - @comments.each do |comment|
    .comment
      = image_tag comment.user.avatar_image, class: 'header_avatar'
      .comment_text
        = comment.content
  
  = link_to new_board_task_comment_path(@board, @task) do
    .new-comment
      .new-comment_title
        + Add new comment